<% @notifications.each do |notification|%>
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= notification.title%>
    </div>
    <div class="panel-body">
      <%= notification.content%>
    </div>
  </div>
<% end %>
